__CADDY_HOST__:__CADDY_PORT__, www.__CADDY_HOST__:__CADDY_PORT__ {
	log {
		output file /var/log/caddy/access.log
		format console
	}

	route {
		basic_auth {
			admin __ADMIN_PASSWORD_HASH__
			guest __GUEST_PASSWORD_HASH__
		}

__GUEST_ALLOWED_MEDIA__
__GUEST_ALLOWED_THUMBNAILS__
	@guest_denied_media {
		expression `{http.auth.user.id} == "guest"`
		path /media/*
	}
	respond @guest_denied_media 403

	handle_path /media/* {
		root * "__ALBUMS_DIR__"
		file_server
	}

	@guest_denied_thumbnails {
		expression `{http.auth.user.id} == "guest"`
		path /thumbnails/*
	}
	respond @guest_denied_thumbnails 403

	handle /thumbnails/* {
		root * "__THUMBNAILS_PARENT__"
		file_server
	}

	@admin_root {
		expression `{http.auth.user.id} == "admin"`
		path /
	}
	redir @admin_root /admin/ 302

	@guest_root {
		expression `{http.auth.user.id} == "guest"`
		path /
	}
	redir @guest_root /guest/ 302

	redir /admin /admin/ 308
	redir /guest /guest/ 308

	@admin_gallery {
		expression `{http.auth.user.id} == "admin"`
		path /admin/*
	}
	handle @admin_gallery {
		uri strip_prefix /admin
		root * "__ADMIN_OUTPUT_DIR__"
		file_server
	}

	@guest_gallery {
		expression `{http.auth.user.id} == "guest"`
		path /guest/*
	}
	handle @guest_gallery {
		uri strip_prefix /guest
		root * "__GUEST_OUTPUT_DIR__"
		file_server
	}

		respond 404
	}
}
